@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Cairo:wght@300&family=Playfair+Display:wght@500;900&display=swap');
* {
	box-sizing: border-box;
}

section {
	/* color: #fff; */
	/* text-align: center; */
	width: 100%;
	height: 100vh;
}

.left-half,
.right-half {
	height: 100vh;
}

/* Pattern styles */
/* .container {
	display: table;

	overflow-y: hidden;
} */
/* .container {
	display: flex;
} */

.left-half {
	padding-left: 15rem;
	padding-top: 5rem;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(82, 142, 167, 1) 62%
	);
	position: absolute;
	left: 0px;
	width: 37%;
	display: flex;
}
.left-sub-half {
	padding-left: 2rem;
	position: relative;
	width: 10px;
	top: 5.5vh;
	flex-grow: 1;
	background-color: #a1d1e55e;
	border-top-left-radius: 3rem;
	border-bottom-left-radius: 3rem;
	text-align: left;
	/*width: auto;
	left: 4em; 
	padding-right: 0;
	box-sizing: border-box;
	right: 0px; */
}

.right-half {
	padding-right: 15rem;
	padding-top: 5rem;
	background-color: #a1d1e54b;
	position: absolute;
	right: 0px;
	width: 63%;
	display: flex;
	margin: 0 auto;
}
.right-sub-half {
	padding-top: 2rem;
	position: relative;
	flex-grow: 1;
	top: 5.5vh;
	background-color: #a1d1e55e;
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
}
.right-sub-half h2 {
	font-family: 'Playfair Display', serif;
}
.right-sub-half div p,
.right-sub-half div {
	font-family: 'Balsamiq Sans', cursive;
}
