/* * {
	box-sizing: border-box;
} */

/* section {
	color: #fff;
	text-align: center;
} */

/* div {
	height: 95vh;
} */
/* .left-half,
.right-half {
	height: 100vh;
} */

/* Pattern styles */
/* .container {
	display: table;
	width: 100%;
	overflow-y: hidden;
} */
/* .container {
	display: flex;
} */

/* .left-half {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(82, 142, 167, 1) 62%
	);
	position: absolute;
	left: 0px;
	width: 37%;
	display: flex;
} */
/* .left-sub-half {
	top: 3.5em;
	background-color: #a1d1e55e;
	border-top-left-radius: 3rem;
	border-bottom-left-radius: 3rem;
	position: relative;
	left: 8em;
	flex-grow: 1;
	text-align: left;
	width: auto;
	padding-left: 3em;
	padding-right: 0;
	box-sizing: border-box;
	right: 0px;
} */

/* .right-half {
	background-color: #a1d1e54b;
	position: absolute;
	right: 0px;
	width: 63%;
	display: flex;
} */
/* .right-sub-half {
	width: auto;
	position: relative;
	box-sizing: border-box;
	flex-grow: 1;

	top: 3.5em;
	background-color: #a1d1e55e;
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
	position: relative;
	right: 20em;

	padding-left: 0;
	padding-right: 3em;
	box-sizing: border-box;
	right: 0px;
} */
