.backOffice-section {
	margin-top: 5rem;
}

.submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hero-banner {
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(to bottom, rgb(25, 91, 255), rgba(0, 0, 0, 0)) 1
		100%;
	display: flex;
	justify-content: space-evenly;
	/* border: 3px solid;
	border-color: linear-gradient(
		circle,
		rgba(178, 174, 238, 1) 0%,
		rgba(132, 174, 223, 1) 100%
	); */
	/* border-width: 10px; */
	padding: 1.9rem;
	border-radius: 20px;
}
